---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
const { title = "Cafetería Ebenezer" } = Astro.props;
---
<html lang="es" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">


  </head>
  <body class="m-0 h-full bg-gray-50 text-gray-900 overflow-x-hidden">
    <Navbar />
    <!-- Secciones full width -->
    <slot name="full" />
    <!-- Contenido con contenedor -->
    <main class="max-w-6xl mx-auto px-4 py-8">
      <slot />
    </main>
    <footer class="py-8 text-center text-sm text-gray-500">© {new Date().getFullYear()} Cafetería</footer>
  </body>
</html>
